# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
youku-player.min.js
.DS_Store
downloadTest.php
command.php
test.php